body {
    font-family: Brush Script MT, Cursive, sans-serif;
    color: #000000;
    margin: 0px;
}

/* Header */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f8dff;
    padding: 0% 2%;
}

.navbar .header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .header img {
    height: 40px;
    width: 40px;
}

.navbar .header h1 {
    margin: 0;
    font-size: 22px;
    color: white;
}

.navbar .navbar-nav a {
    display: block;
    overflow: hidden;
    list-style: none;
    float: left;
    font-size: 1.2vw;
    margin: 0;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.navbar .navbar-nav a:hover {
    background-color: white;
    color: #1f8dff;
}

.navbar .navbar-nav .btn-login {
    font-family: Brush Script MT, Cursive, sans-serif;
    background-color: white;
    border: none;
    border-radius: 15px;
    color: #1f8dff;
    padding: 5px 16px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 1vw;
    margin: 15px 10px;
    cursor: pointer;
}

.navbar .navbar-nav .btn-login:hover {
    background-color: #004b96;
    color: white;
}

/* content */
.fiture {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
    height: 421px;
    flex-direction: column;
}

.fiture .game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.fiture .solo {
    background-color: transparent;
    border: #d9d9d9 solid 3px;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.fiture .solo:hover {
    background-color: #1f8dff;
    color: #ffffff;
    border: #1f8dff solid 3px;
}

.fiture .solo img {
    width: 100px;
    height: 100px;
}

.fiture .solo h5 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.fiture .multipalyer {
    background-color: transparent;
    border: #d9d9d9 solid 3px;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.fiture .multipalyer:hover {
    background-color: #1f8dff;
    color: #ffffff;
    border: #1f8dff solid 3px;
}

.fiture .multipalyer img {
    width: 100px;
    height: 100px;
}

.fiture .multipalyer h5 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

/* footer */
footer {
    background-color: #d9d9d9;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* responsive design */

/* extra small (phone) */
@media only screen and (max-width: 600px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

/* small (portrait tablet & large phone) */
@media only screen and (min-width: 600px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

/* medium (landscape tablet) */
@media only screen and (min-width: 768px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

/* large (laptop/dekstop) */
@media only screen and (min-width: 992px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}

/* extra large (laptop/dekstop, and up) */
@media only screen and (min-width: 1200px) {
    footer {
        position: fixed;
        bottom: 0;
    }
}