body {
    font-family: "Comic Neue";
    font-weight: 700;
    font-style: normal;
    background: #2196f3;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container .btn-back {
    background: none;
    border: none;
    font-size: 30px;
    color: black;
    cursor: pointer;
    text-align: left;
}

h2 {
    margin-top: 0%;
    margin-bottom: 20px;
    color: #2196f3;
    text-align: center;
}

input {
    max-width: 294px;
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

.masuk {
    width: 100%;
    padding: 12px;
    background: #2196f3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.masuk:hover {
    background: #1976d2;
}

.link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.link a {
    color: #2196f3;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}